<div>
  <div class="container">
    <div class="header">
      <h3>&boxbox; {{title}}</h3>
      <div class="border"></div>
    </div>

    <div class="containerInput">
      <div *ngFor="let input of inputBoxs">
        <input type="{{input.type}}" placeholder="{{input.placeholder}}" [(ngModel)]="input.bind"
          class="{{input.class}}">
        <br>
        <span *ngIf="!input.isValid" class="errorTxt">{{input.errorTxt}}</span>
      </div>
      <div *ngFor="let btn of inputBtn">
        <button type="{{btn.type}}" class="{{btn.class}}" (click)=btn.click()>{{btn.title}}</button> <span></span>
      </div>
    </div>

    <div class=" containerProductList">
      <table class="productTable">
        <thead>
          <tr class="tbRow">
            <th *ngFor="let th of tableHead">- {{th}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productsDetail;">
            <td>{{product.date}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td class="actionBtn">
              <button *ngFor="let btn of actionBtns" (click)="btn.click(product)">
                <fa-icon [icon]="btn.icon"></fa-icon>
                {{btn.title}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-edit-modal></app-edit-modal>
